.container {
  height: 100%;
}

.heading {
  margin-top: 20vh;
  font-size: 2.5em;
  font-family: "Roboto";
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-row-gap: 20px;
}

.button {
  background-color: "#065cd0";
  color: "white";
}
