.landing-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.landing-heading {
  font-size: 2.5em;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 15vh;
}

.landing-subheading {
  font-size: 1.5em;
  font-family: "Roboto";
}

.landing-buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  grid-row-gap: 5vh;
}
.how {
  grid-column: 1/3;
}
.landing-image {
  margin-top: 15vh;
  margin-left: -3vw;
}

.landing-wave {
  position: "relative";
  z-index: -1;
  margin-top: -18vh;
}
